.light-pink{
    --theme-primary:rgb(195, 34, 109); 
    --theme-secondary:rgb(10, 10, 10); 
    --body-color:white;
}
.dark-pink{
    --theme-primary:rgb(195, 34, 109);
    --theme-secondary:white; 
    --body-color:rgb(44, 43, 43);
}
.light-blue{
    --theme-primary:#2196F3; 
    --theme-secondary:rgb(10, 10, 10); 
    --body-color:white;
}
.dark-blue{
    --theme-primary:#2196F3;
    --theme-secondary:white; 
    --body-color:rgb(44, 43, 43);
}
.light-yellow{
    --theme-primary:#c78100; 
    --theme-secondary:rgb(10, 10, 10); 
    --body-color:white;
}
.dark-yellow{
    --theme-primary:#ffa500;
    --theme-secondary:white; 
    --body-color:rgb(44, 43, 43);
}
.light-red{
    --theme-primary:red; 
    --theme-secondary:rgb(10, 10, 10); 
    --body-color:white;
}
.dark-green{
    --theme-primary:green;
    --theme-secondary:white; 
    --body-color:rgb(44, 43, 43);
}

*{
    margin: 0px;
    padding: 0px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition: all 0.25s ease;
}
/* 
table{
    border: 3px solid white;
    margin: 15px;
    background-color: black;
    color: white;
    font-weight: bolder;
    font-size: 22px;
} */

p{
    color: var(--secondary-color);
    font-size: var(--size-here);
}

hr{
    margin-top: 10px;
    margin-bottom: 10px;
}

body{
    background-color: var(--body-color);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 170px 1fr 100px;
    grid-gap: 5px;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
    padding-left: 20px;
    font-size: var(--size-here);
}

h1, h2, h3, h4{
    text-align: center;
}


header{
    grid-row: 1;
    grid-column: 1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
    width: 100%;
    position: fixed;
    text-align: center;
}

header section:nth-child(1){
    grid-row: 1;
    grid-column: 1/4;
    background-color: var(--body-color);
}

header section:nth-child(1) img{
    float: left;
    width: 20%;
    max-width: 50px;
    margin-left: 20px;
    margin-top: 10px;
}

header section:nth-child(2){
    grid-row: 1;
}

header section:nth-child(2) lord-icon {
    position: absolute;
    top: 15px;
    right: 20px;
    width: 40px;
    height: 40px;
    --lord-icon-primary: var(--primary-color);
}

header section:nth-child(3){
    grid-row: 1;
    grid-column: 2/4;
}

header section:nth-child(3) menu{
    margin-right: 100px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 100%;
    background-color: var(--body-color);
    border-radius: 5em;
}

header section:nth-child(2) menu ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

header section:nth-child(3) menu ul li {
    float: left;
    text-align: center;
    margin: 5px 20px;
  }

header section:nth-child(3) menu ul li a{
    text-decoration: none;
    justify-content: center;
    color: var(--secondary-color);
    font-size: var(--size-here);
    --lord-icon-primary: var(--secondary-color);
}

header section:nth-child(3) menu ul li a:hover{
    color: var(--primary-color);
    --lord-icon-primary: var(--primary-color);
}

header section:nth-child(3) menu ul li.active a{
    color: var(--primary-color);
    font-weight: bold;
    --lord-icon-primary: var(--primary-color);
}

.menu {
    position: absolute;
    top: 15px;
    right: 80px;
    width: 40px;
    height: 40px;
    display: none;
    --lord-icon-primary: var(--primary-color);
}

main{
    grid-row: 2;
    grid-column: 1;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 5px;
}

main .left-aside{
    grid-row: 1;
    grid-column: 1/2;
    align-items: center;
}


main section{
    grid-row: 1;
    grid-column: 2/3;
    border: 2px bold rgb(195, 34, 109);
    padding: 70px;
    justify-items: center;
    align-items: center;
    margin-top: -100px
}

main section h1 {
    font-size: calc(var(--size-here) + 15px);
    color: var(--primary-color);
}

main section h3 {
    font-size: calc(var(--size-here) + 10px);
    color: var(--primary-color);
}

main .right-aside{
    grid-row: 1;
    grid-column: 3/4;
    justify-items: center;
}

footer{
    grid-row: 3;
    grid-column: 1;
    color: var(--secondary-color);
    font-size: var(--size-here);
    text-align: center;
    padding-top: 50px
}

.header-settings {
    position: absolute;
    top: 55px;
    background-color: rgba(136, 136, 136, 0.473);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    width: 300px;
    height: 100vh;
    border-radius: 0;
    border-top-left-radius: 5em;
    display: flex;
    padding: 60px 0;
    flex-direction: column;
    align-items: center; 
    transition: 0.5s ease;
    overflow: hidden;
}

.header-settings.settings {
    margin-left: -300px;
}

label {
    color: var(--secondary-color);
    font-size: var(--size-here);
}

select {
    border: none;
    background-color: transparent;
    font-size: var(--size-here);
    color: var(--primary-color);
    margin-bottom: 20px;
}

option {
    background-color: rgba(136, 136, 136, 0.473);
    padding: 5px 10px;
}

option:hover {
    background-color: #555;
}

.header--theme-button {
    height: 60px;
    width: 20%;
    margin: 10px 5px 0 0;
    display: inline-block;
    border-top: 20px solid var(--body-color);
    background-color: var(--theme-primary);
    border-bottom: 34px solid var(--body-color);
    border-right: 20px solid var(--body-color);
    border-left: 20px solid var(--body-color);
    padding: 0;
    box-shadow: 0 0 3px rgb(133, 135, 135);
    border-radius: 30%;
  }
  
  .header--theme-button:hover {
    box-shadow: 0 0 2px 2px var(--theme-primary);
  }
  
  .header--theme-button.active {
    box-shadow: 0 0 2px 2px var(--theme-primary);
  }

.left-aside{
    position:fixed;
    display: flex;
    flex-direction: column;
    width: 18%;
    height: 60%;
    overflow: auto;
    --lord-icon-primary: var(--secondary-color);
}

.left-aside lord-icon {
    position: absolute;
    top: 150px;
    left: -100px;
}

.right-aside{
    position: fixed;
    z-index: -1;
    overflow: hidden;
    width: 20%;
    right: 0;
}

@media screen and (max-width: 870px){
    
    header section:nth-child(3) menu ul li a h4{
        display:none;
    }
    
    header section:nth-child(3) menu ul li a lord-icon{
        padding-top: 10px;
    }

    .left-aside {
        width: 30%;
    }

    .nav-links{
        position:absolute;
        margin-left: -500px;
        display: flex;
        width: min-content;
        flex-direction: column;
    }

    .nav-links.links{
        background-color: var(--body-color);
        border-width: 2px;
        border-color: var(--secondary-color);
        margin-left: 0px;
        width:fit-content;
    }

    .left-aside lord-icon {
        position: fixed;
        left: 10px;
    }
}

@media screen and (max-width: 580px){

    header section:nth-child(1) img {
        width: 40px;
        margin-top: 10px;
        margin-left: 15px;
    }

    header section:nth-child(2) lord-icon{
        top:10px;
    }

    .menu {
        display: block;
        top:10px;
    }
    
    header section:nth-child(3) menu ul li a h4{
        display: block;
    }
    
    header section:nth-child(3) menu {
        position: absolute;
        background-color: rgba(136, 136, 136, 0.473);
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        margin-left: 10%;
        transition: all 0.5s ease;
    }

    header section:nth-child(3) menu.mobile-menu{
        margin-left: -80%;
    }
    
    header section:nth-child(3) menu ul{
        display: flex;
        flex-direction: column;
    }
    
    header section:nth-child(3) menu ul li{
        margin: 20px 100px 20px 0;
    }

    .left-aside {
        width: 40%;
    }
}



